<h2>Création d'event</h2>

<div class="container">
  <%= form_for @event, url: {action: "create"} do |u| %>
  <div class="form-group">
      <%= u.label "Titre de l'event" %><br>
      <%= u.text_field :title %><br>
  </div>
  <div class="form-group">
      <%= u.label "Description" %><br>
      <%= u.text_area :description %><br>
  </div>
  <div class="form-group">
      <%= u.label "Date" %><br>
      <%= u.date_select :date, order: [:day, :month, :year], class: "form-control" %><br>
  </div>
  <div class="form-group">
      <%= u.label "Heure" %><br>
      <%= u.time_select :date, minute_step: 15, class: "form-control" %><br>
  </div>
  <div class="form-group">
      <%= u.label "Lieu" %><br>
      <%= u.text_field :place %><br>
  </div>
  <div class="submit">
      <%= u.submit "Créer l'event !", class: "btn btn-primary" %>
  </div>

  <% end %>
</div>
