<h2 class="text-center">Log in</h2>

<div class="text-center border" style="padding-top: 20px">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <%= f.label "Nom d'utilisateur / email"%><br />
    <%= f.text_field :login, autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %><br />
    <%= link_to "Forgot your password ?", new_password_path(resource_name), class: "text-info" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
</div>
<br />
  <div class="actions text-center">
    <%= f.submit "Se connecter" %>
  </div>
<% end %>
